.message-panel {
    margin: 5px 15px 10px 15px;
    padding: 0px 15px 0px 15px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 350px;
    right: 350px;
}

.message-text {
    font-size: 14px;
    font-family: sans-serif;
}
