.main {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
}

.lose-game {
    position: absolute;
    top: 200px;
    left: 35%;
    right: 35%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3, p, span, button {
    font-family: monospace;
    line-height: 1.5;
}
