.battle-panel h2 {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: black;
}

.battle-action button {
    margin-top: 10px;
    width: 60%;
    cursor: pointer;
}
.battle-action h3 {
    color: black;
    display: inline-block;
    margin: 10px;
}
.battle-action {
    border-bottom: 1px solid #666;
}
