.main {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    padding-left: 15px;
    border-bottom: 1px solid black;
}
.title-right {
    right: 15px;
    width: 100px;
    position: absolute;
    display: inline-block;
    top: 15px;
}
.title-right span {
    cursor: pointer;
}

.title h2 {
    display: inline-block;
}
.title p {
    display: inline-block;
    margin-left: 20px;
}

.player-stats {
    padding: 10px;
    border-right: 1px solid black;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 350px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2, h3, p, span, button {
    font-family: monospace;
    line-height: 1.5;
}
